<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Ecommerce</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
    <key>CFBundleURLTypes</key>
    <array>
    	<dict>
    		<key>CFBundleTypeRole</key>
    		<string>Editor</string>
    		<key>CFBundleURLSchemes</key>
    		<array>
    		    <string>fb513423013462572</string>
    			<string>com.googleusercontent.apps.845551560799-c0p7sukvdj5u4lo3vpt5ipmqfdcr1r9v</string>
    		</array>
    		<key>LSApplicationQueriesSchemes</key>
            <array>
              <string>fbapi</string>
              <string>fbapi20130214</string>
              <string>fbapi20130410</string>
              <string>fbapi20130702</string>
              <string>fbapi20131010</string>
              <string>fbapi20131219</string>
              <string>fbapi20140410</string>
              <string>fbapi20140116</string>
              <string>fbapi20150313</string>
              <string>fbapi20150629</string>
              <string>fbapi20160328</string>
              <string>fbauth</string>
              <string>fb-messenger-share-api</string>
              <string>fbauth2</string>
              <string>fbshareextension</string>
            </array>
    	</dict>
    </array>
    <key>FacebookAppID</key>
    <string>513423013462572</string>
    <key>FacebookClientToken</key>
    <string>0aa04a3cd9fe3fe8882d30cf2a3d970f</string>
    <key>FacebookDisplayName</key>
    <string>ecommerce</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fb-messenger-share-api</string>
      <string>fbauth2</string>
      <string>fbshareextension</string>
    </array>
</dict>
</plist>
